{% extends 'master.html' %}
{% block content %}
    <h1 class="text-info text-center">Update Product</h1>
    <form class="row mx-auto col-10 col-md-8 col-lg-6 d-flex flex-column" method="post" action="/update/{{ product.id }}">
        {% csrf_token %}
        <label>
            <input value="{{ product.name }}" class="form-control" required placeholder="product name" type="text" name="p-name">
        </label>
        <label>
            <input value="{{ product.quantity }}" class="form-control" required placeholder="product quantity" type="text" name="p-quantity">
        </label>
        <label>
            <input value="{{ product.price }}" class="form-control" required placeholder="product price" type="text" name="p-price">
        </label>
        <label>
            <input value="{{ product.desc }}" class="form-control" required placeholder="product desc" type="text" name="p-desc">
        </label>
        <label>
            <input class="form-control btn-outline-info" type="submit" value="Update">
        </label>
    </form>
{% endblock %}